@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import '~sal.js/sal.css';
@import './node_modules/sal.js/dist/sal.css';

:root {
    --background: #f8f9f9;
    --color1: #FA7C92;
    --color2: #6EC4DB;
    --color3: #FFF7C0;
    --color4: #66AB8C;
    --color5: #009fda;
    --color6: #404040;
    --text: #000;
    --font:'Quicksand', sans-serif;
    --width: 0px;
}

/* Make Gradients https://colordesigner.io/gradient-generator/?mode=rgb#FA7C92-6EC4DB */
/* Make Blobs https://www.blobmaker.app/ */
/* Model Page https://library.elementor.com/digital-agency-home-page/ */

body {
  background-color: var(--background);
  font-family: var(--font);
  font-weight: 500;
  overflow-x: hidden;
}


.navbar {
  position:fixed;
  display: flex;
  align-items: flex-end;
  background-color:var(--background);
  width:100vw;
  height:145px;
  left:0;
  top:0;
}

#logo{
  position: inherit;
  display:block;
  height:125px;
  padding:10px;
}

.nav-menu {
  position:absolute;
  margin-top:10px;
  left:120px;
  right:0px;
  display:-ms-grid;
  display:grid;
  grid-template-columns:repeat(5, 1fr);
  color: var(--text);
  text-decoration: none;
  list-style: none;
  font-weight:400;
  text-align:center;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--color2);
}

.hamburger {
  position:absolute;
  display:none;
  top:50px;
  right:50px;
}
  
.bar {    
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color5);
}


@media only screen and (max-width: 768px) {
  
  .navbar {
    position:fixed;
    justify-content:center;
  }

  #logo {
    position: absolute;
    display:block;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    height:125px;
    z-index: 1;
  }

  .nav-menu {
    position:absolute;
    top:135px;
    width:90vw;
    left:auto;
    right:auto;
    margin-left:0;
    font-size:25px;
    font-weight:500;
    flex-direction: column;
    grid-template-columns:repeat(1, 1fr);
    border-radius: 0 0 25px 25px;
    background-color: var(--color6);
    transition: 1s;
    text-align: center;
    border-bottom:#000 solid 1px;
    opacity:0;
    height:600px;
  }   
  
  .nav-menu.active {
    position:absolute;
    display:flex;
    top:135px;
    width:90vw;
    left:auto;
    right:auto;
    transition: 1s;
    text-align: center;
    padding:none;
    height:600px;
    border-bottom:#000 solid 1px;
    opacity:1;
  }   
  
  .nav-item {
    top:0;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
  } 
  
  .hamburger {
    position:absolute;
    display: block;
    cursor: pointer;
    margin-right:0px;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-link {
    color:var(--background);
  }
}

.home-container {
  position:relative;
  margin-top:145px;
  left:0;
  right:0;
  max-height:75vh;
  z-index:-4;
}

#inspired {
  position: relative;
  display:block;
  max-width:100%;
  max-height:75vh;
  margin-left:auto;
  margin-right:auto;
  z-index:-4;
}

.home-container p {
  position: absolute;
  display:block;
  opacity:0;
  transform: translate(-50%, 50%);
  margin: 0;
  color:var(--background);
  font-size:2.5vw;
  font-weight:400;
  text-shadow:-1px 2px var(--color6);
  animation:fadeIn forwards 2s;
  animation-delay:0.5s;
  z-index:-4;
}

.home-container div {
  position: absolute;
  display:block;
  opacity:0;
  color:var(--background);
  text-shadow:-2px 2px var(--color6);
  bottom:20px;
  text-align: center;
  font-size: 1.5vw;
  width:100%;
  font-weight:300;
  animation:fadeInSubtext forwards 2s;
  animation-delay:1.5s;
}

.container-two {
  position:relative;
  display:block;
  top:0;
  background-color:var(--color5);
  width:var(--width);
  margin-left:auto;
  margin-right:auto;
  z-index:-1;
  color:var(--background);
}

.container-two div {
  color:var(--color6);
  padding: 10px;
  font-size: 20px;
  text-align: justify;
}

.container-three {
  position:relative;
  display:block;
  top:0;
  background-color:var(--color4);
  width:var(--width);
  margin-left:auto;
  margin-right:auto;
  z-index:-1;
  color:var(--background);
  height:20vh;
}

.container-three div {
  padding: 10px;
  font-size: 20px;
  text-align: justify;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    top:60%;
    left: 45%;
  }
  100%{
    opacity:1;
    top:53%;
    left:50%;
  }
}

@keyframes fadeInSubtext {
  0% {
    opacity: 0;
    bottom:0%;
    left: -5%;
  }
  100%{
    opacity:1;
    bottom:5%;
    left:0%;
  }
}

#about-body{
  background-image: linear-gradient(to bottom right, var(--color1), var(--color2));
  height:100vh;
}

.custom-shape-divider-bottom-1649565645 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index:-1;
}

.custom-shape-divider-bottom-1649565645 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1649565645 .shape-fill {
  fill: #F8F9F9;
}

.about-container-one {
  position:absolute;
  display:flex;
  flex-flow:column wrap;
  justify-content:space-between;
  align-items: flex-start;
  align-content:flex-start;
  gap: 20px;
  row-gap: 20px;
  width:calc(100% + 1.3px);
  left:0;
  right:0;
  height:100vh;
  z-index:-1;
}

.slogan{
  color:var(--background);
  display:block;
  align-self: auto;
  font-size: 50px;
  font-weight: 400;
  order:1;
  z-index:-1;
  margin:auto;
  width:100%;
}

#sub-slogan{
  position:absolute;
  display:block;
  color:var(--background);
  font-size: 20px;
  font-weight: 400;
  width:50%;
  order:2;
  z-index:-1;
}

#inspired-image-blob {
  position:absolute;
  display:flex;
  top: 22%;
  right:20px;
  max-width:50vw;
  z-index:-1;

}

#blob-one {
  position:absolute;
  display:flex;
  top: 25%;
  right:10px;
  max-width:40vw;
  z-index:-2;
}

.about-container-two {
  position:absolute;
  top:100vh;
  width:calc(100% + 1.3px);
  left:0;
  right:0;
  height:100vh;
  background-color: var(--background);
  z-index:-1;
}